.main-content {
  margin-left: 250px;
  width: calc(100% - 250px);
  min-height: 100vh;
  background-color: #f7f7f7
;
  &.parentrole{
    background-color: #f3f3f6a0;
    margin-bottom: 0;
    padding-bottom: 80px;
  }
}

.content-area {
  min-height: calc(100vh - 95px);
}

.sidebar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

@media (max-width: 991.98px) {
  .main-content {
    margin-left: 0;
    width: 100%;
  }

  .sidebar-overlay.show {
    display: block;
  }
}
.parentrole{
  margin-bottom: 80px;
}