.btn-header {
    width: 2.313rem;
    height: 2.313rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 0.5rem;
  border:1px solid #E9EDF4 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.btn-header img {
  width: 24px !important;
  height: 24px !important;
}


.flag-item {
    width: 24px;
    height: 24px;
}