.search-box {
  position: relative;
  min-width: 250px;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #515B73;
  font-size: 14px;
  pointer-events: none;
  z-index: 1;
}

.search-input {
  padding-left: 36px;
  border-color: #E9EDF4;
  color: #202C4B;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  height: 38px;
  transition: all 0.3s;

  &::placeholder {
    color: #6A7287;
  }

  &:focus {
    border-color: #506EE4;
    box-shadow: 0 0 0 0.2rem rgba(80, 110, 228, 0.15);
    outline: none;
  }
}

::ng-deep.parent-detailchild .header-info{
  margin-bottom: 55px;
}