.list-group-item {
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #f8f9fa;
  }

  &.active {
    background-color: #e7f3ff;
    border-color: #0d6efd;
  }
}

::ng-deep ng-select.form-input {
  .ng-select-container {
    padding: 14px 16px 14px 15px !important;
    border: 2px solid #e8e8e8 !important;
    border-radius: 10px !important;
    font-size: 15px !important;
    transition: all 0.3s ease !important;
    background: #fafafa !important;
    min-height: auto  !important;
    height: auto !important;

    .ng-value-container {
      padding: 0 !important;

      .ng-input {
        padding: 0 !important;
      }
    }
  }

  &.ng-select-focused .ng-select-container {
    border-color: #7dd3c0;
    box-shadow: 0 0 0 0.2rem rgba(125, 211, 192, 0.25);
  }

  .ng-arrow-wrapper {
    padding-right: 0;
  }
}

.ng-select.form-input .ng-select-container .ng-value-container  {
  padding-right: 0;
}
