.white-box {
  padding: 20px;
}

.logo-default {
  margin: 10px 0;
}

@media print {
  .btn {
    display: none;
  }
}

::ng-deep{
  .header-info .name{
    padding-bottom: 20px !important;
  }
}
::ng-deep{
  .parent-detailchild .header-info{
    margin-bottom: 40px;
  }
}

.detailfee{
  .from-to{
    .to{
      text-align: right;
    }
  }
  .logo-detail{
    .left{
      .logo{
        display: flex;
        align-items: center;
        img{
          max-width: 50px !important;
          object-fit: contain;
        }
        p{
          margin-bottom: 0;
          margin-left: 5px;
        }
      }
    }
    .right{
      text-align: right;
      align-items: center;
      p{
        margin-bottom: 0;
      }
    }
  }
  .btn-success{
    background: #84c76a;
    border: 1px solid #84c76a;
  }
  .btn-secondary{
    background: #d9d9d9;
    border: 1px solid #d9d9d9;
    color: #000;
  }
  .btn-info{
    background: #17a2b8;
    border: 1px solid #17a2b8;
    color: #fff;
  }
}
.payment{
  margin-top: 60px;
}
.total{
  margin-bottom: 30px;
}

.text-end{
  display: flex;
  justify-content: end;
}
.badge.bg-primary{
  background-color :var(--secondary-color) !important;
}