.title-table {
  font-weight: 500;
  color: #202C4B;
}

.badge-success {
  background-color: rgba(26, 190, 23, 0.1);
  color: #1ABE17;
}

.badge-secondary {
  background-color: rgba(108, 117, 125, 0.1);
  color: #6c757d;
}
