.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  overflow-y: auto;
  border-right: 1px solid #E9EDF4;
  transition: transform 0.3s ease;
  z-index: 999;
  background-color: white;
}

@media (max-width: 991.98px) {
  .sidebar {
    transform: translateX(-100%);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }

  .sidebar.mobile-open {
    transform: translateX(0);
  }
}

.nav-link {
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 600;
}
.logo-img{
  width: 130px;
}
.submenu-hdr{
  font-weight: 600;
  font-size: 12px;
  color: #9CA1AF;
  margin: 14px 0 14px 0;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}
.submenu-hdr::after{
  content: "";
  width: 100%;
  height: 1px;
  background: #E9EDF4;
  margin-left: 8px;
}

.nav-sidebar li i{
    color: #515B73;
    font-size: 16px !important;
    background: #F6F8FB;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    display: flex
;
    align-items: center;
    justify-content: center;
}
.nav-sidebar {
  .nav-item{
    a{
      span{
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}