<aside class="sidebar bg-white text-dark vh-100 p-3">
  <div class="mb-4">
    <h5 class="text-left">

      <img src="/assets/images/logo-app.png"  class="logo-img img-fluid" alt="MiniMinds Logo">
    </h5>
  </div>
  
  <nav class="nav-sidebar">
    <ul class="nav flex-column">
      <li>
        <h6 class="submenu-hdr"><span>Main</span></h6>
      </li>
      <li class="nav-item" *ngFor="let item of menuItemsMain">
        <a 
          [routerLink]="item.path" 
          routerLinkActive="active"
          (click)="onLinkClick()"
          class="nav-link text-dark d-flex align-items-center py-1 px-3 rounded mb-1">
          <i class="bi {{ item.icon }} me-3 fs-5"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
      <li>
        <h6 class="submenu-hdr"><span>Principal</span></h6>
      </li>
      <li class="nav-item" *ngFor="let item of menuItemsPrincipal">
        <a 
          [routerLink]="item.path" 
          routerLinkActive="active"
          (click)="onLinkClick()"
          class="nav-link text-dark d-flex align-items-center py-1 px-3 rounded mb-1">
          <i class="bi {{ item.icon }} me-3 fs-5"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
      <li>
        <h6 class="submenu-hdr"><span>Child</span></h6>
      </li>
      <li class="nav-item" *ngFor="let item of menuItemsChild">
        <a 
          [routerLink]="item.path" 
          routerLinkActive="active"
          (click)="onLinkClick()"
          class="nav-link text-dark d-flex align-items-center py-1 px-3 rounded mb-1">
          <i class="bi {{ item.icon }} me-3 fs-5"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
      <li>
        <h6 class="submenu-hdr"><span>People</span></h6>
      </li>
      <li class="nav-item" *ngFor="let item of menuItemsPeople">
        <a
          [routerLink]="item.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
          (click)="onLinkClick()"
          class="nav-link text-dark d-flex align-items-center py-1 px-3 rounded mb-1">
          <i class="bi {{ item.icon }} me-3 fs-5"></i>
          <span>{{ item.usePrefix ? ('' | prefix:'child':true) : item.label }}</span>
        </a>
      </li>
      <li *ngIf="menuItemsIa.length > 0">
        <h6 class="submenu-hdr"><span>IA</span></h6>
      </li>
      <li class="nav-item" *ngFor="let item of menuItemsIa">
        <a 
          [routerLink]="item.path" 
          routerLinkActive="active"
          (click)="onLinkClick()"
          class="nav-link text-dark d-flex align-items-center py-1 px-3 rounded mb-1">
          <i class="bi {{ item.icon }} me-3 fs-5"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
      <li>
        <h6 class="submenu-hdr"><span>Setting</span></h6>
      </li>
      <li class="nav-item" *ngFor="let item of menuItemsSetting">
        <a 
          [routerLink]="item.path" 
          routerLinkActive="active"
          (click)="onLinkClick()"
          class="nav-link text-dark d-flex align-items-center py-1 px-3 rounded mb-1">
          <i class="bi {{ item.icon }} me-3 fs-5"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>